# IDE settings
.settings/
.vscode/
.idea/
.project

# Gradle settings
.gradle/

# Build output
build/
bin/
tmp*/

# Exclude generated geospatial file types
*.pbf
*.gpkg
*.edges
*.geojson

# Don't exclude example geospatial files in data folder
!/data/*.pbf
!/data/*.edges
!/data/*.gpkg

